<div class="container mt-5">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body ">
                <h3 class="titulo">Devices</h3>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
               <h5 class="titulo">{{accion|uppercase}} Device</h5> 

               <form [formGroup]="form" (ngSubmit)="saveDevice()">
                <div class="input-group input-group-lg mb-2">                   
                    <input  formControlName="vendor" type="text" class="form-control" placeholder="vendor" >
                  </div>
                  <div class="input-group input-group-lg mb-2">                   
                    <input formControlName="status"  type="text" class="form-control" placeholder="status" >
                  </div>
                  <div class="input-group input-group-lg mb-2">                   
                    <input formControlName="gatewaySerialNumber"  type="text" class="form-control" placeholder="gatewaySerialNumber" >
                  </div>
                 
                  <div class="d-grid gap-2">
                     <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                        <i class="fa-solid fa-database"></i>&nbsp;Aceptar</button>
                  </div>                
               </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
               <h5 class="titulo">List of Devices</h5> 
               <table class="table"> 
                <thead>
                    <tr>
                      <th scope="col">Vendor</th>
                      <th scope="col">Status</th>
                      <th scope="col">gatewaySerialNumber</th>
                   
                    </tr>
                  </thead>
                
                   <tbody>
                       <tr *ngFor="let device of listDevice">
                           <td>{{device.vendor}} </td>
                           <td>{{device.status}}</td>
                           <td>{{device.gatewaySerialNumber}}</td>
                  
                           <td>
                               <button class="btn btn-primary" (click)="editDevice(device)">edit</button>                               
                           </td>
                           <td>
                           <button class="btn btn-danger" (click)="deleteDevice(device.uid)">delete</button>
                           </td>
                       </tr>
                       
                   </tbody>
               </table>
            </div>
        </div>

    </div>
</div>
